.App {
  min-height: 100dvh;
  display: grid;
}

.layout__wrapper{
  --max-width: 860px;
  width: min(100% - 2rem, var(--max-width));

  grid-template-rows: auto 1fr;
}

.header{
  grid-template-columns: 1fr auto;
}

.avatar-div{
  width: 70px;
  height: 70px;
  display: none;
}
.avatar-div--mobile{
  width: 70px;
  height: 70px;
}
@media(min-width: 925px){
  .avatar-div--mobile{
    display: none;
  }

  .avatar-div{
    display: block;
  }

  .grid-cols-auto1fr{
    grid-template-columns: auto 1fr;
  }

  .header-title{
    display: flex;
    justify-content: space-between;
  }
}

@media(max-width: 925px){
  .grid-cols-auto1fr--mobile{
    gap: 2rem;
    grid-template-columns: auto 1fr;
  }
}