.App {
  min-height: 100dvh;
  display: grid;
}

.layout__wrapper{
  --max-width: 860px;
  width: min(100% - 2rem, var(--max-width));

  grid-template-rows: auto 1fr;
}

.header{
  grid-template-columns: 1fr auto;
}

.avatar-div{
  width: 117px;
  height: 117px;
}

.grid-cols-auto1fr{
  grid-template-columns: auto 1fr;
}